* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.homework {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.homework-title {
  text-align: center;
  background-color: #bcffac;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
}

.selenium {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #06b000;
  color: white;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
  margin: 0;
}

.more-info:link,
.more-info:visited {
  color: #000;
  margin-bottom: 10px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  color: #000;
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 15px;
  position: relative;
}

.details-list li {
  margin-bottom: 10px;
}

.goal {
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  background-color: rgb(7, 146, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.goal:hover {
  color: rgb(0, 113, 2);
  background-color: white;
}

.like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 70px;
  right: 50px;
}

p {
  margin-bottom: 15px;
}
